*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-image: url('../public/images/cover3.jpg');
  background-size: cover; */
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('../public/images/cover2.jpg'); */
  /* background-size: cover; */
  
  /* color: white; */
  font-family: 'Josefin Sans', sans-serif;
  color: white;

  
}

.sidebar{
  display: flex;
  width: 20%;
  justify-content: center;
  /* align-items: center; */ 
  min-height: 100vh;
  position: fixed;
  border-right: 5px solid white;
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
  url('../public/images/cover4.jfif');
  background-size: cover; */
  background-image: linear-gradient(rgba(230, 126, 147, 0.5), rgba(22, 178, 189, 0.5));
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  /* align-items: center; */
  height:80vh ;
}
.sidebar ul a{
  display: flex;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
  color: white;
  font-weight: 600;
}
.sidebar ul a:hover{
  background-color: #d17070;
  border-radius: 18px;
}
.sidebar-headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  border-bottom: 2px solid white;
  box-shadow: 0 6px rgba(255,255,255,0.2);
  color: white;
  font-size: 18px;
}
.sidebar-headline img{
  max-width: 60px;
  
}
.logo{
  margin-right: 20px;
}
.common{
  margin-left: 20%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(230, 126, 147, 0.5), rgba(22, 178, 189, 0.5));
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(230, 126, 147, 0.5), rgba(22, 178, 189, 0.5)),
  url('../public/images/doc.png');
  background-size: cover;
  margin-left: 20%;
  min-height: 100vh;
}


.home-content{
  padding: 10px ;
  margin: 15px 0;
}
.home h1{
  font-size: 50px;
  text-shadow: 4px 6px rgba(0,0,0,0.2)
}
.home h3{
  font-size: 25px;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 12s steps(44) infinite ;
  border-right: 3px solid #1976d2;
  text-shadow: 3px 4px rgba(0,0,0,0.2);
  background-color: #053653;
  color: white  ;

}
@keyframes text{
  0%{
    width:0ch;
  }
  50%{
    width: 44ch;
  }
}
.home button{
  margin-top: 25px;
  padding: 15px 25px;
  font-size: 20px;
  color: white;
  background-color: #8a183a ;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 3px 4px rgba(0,0,0,0.2);
  border-radius: 12px;

}
.home button:hover{
  background-color: #ce6383;
}

.predict{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.predict-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-height: 40vh;
  justify-content: space-around;
  /* padding: 50px; */
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 12px;
  font-size: 24px;
  color: black;
  font-weight: 600;
  margin-left: 30vh;
}
.predict-content input{
  padding: 12px;
  width: 60% ;
  border-radius: 4px;
  box-shadow: 2px 3px rgba(0,0,0,0.2);

}
.qno{
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
  color: #053653;
}
.btns{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding:  0 10px;
  width: 100%;
}
.btns button{
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 2px 3px rgba(0,0,0,0.2);
}
.btns button:hover{
  background-color: #07335f;
}
.doc-img {
  /* min-width: 20vh; */
  /* margin-left: 100px; */
  /* padding: 50px; */
}

.cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  /* position: fixed; */
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  min-width: 40vh;
  /* position: fixed; */
}
.card1{
  border-bottom:10px solid rgba(0,0,255,0.5) ;
}
.card2{
  border-bottom: 10px solid rgba(0,255,0,0.5);
}
.card3{
  border-bottom: 10px solid rgba(255,0,0,0.5);
}
.stats{
  
}